<CascadingAuthenticationState>
    <Router AppAssembly="typeof(Program).Assembly" NotFoundPage="typeof(NotFoundPage)">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="routeData" DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized>
                    <main>
                        <SignInOrSignUp/>
                    </main>
                </NotAuthorized>
                <Authorizing>
                    <main>
                        <Spinner/>
                    </main>
                </Authorizing>
            </AuthorizeRouteView>
        </Found>
    </Router>
</CascadingAuthenticationState>
