@inject ApplicationState ApplicationState
@inject NavigationManager NavigationManager

<CascadingAuthenticationState>
    <Router AppAssembly="typeof(Program).Assembly" Context="routeData">
        <Found>
            <AuthorizeRouteView RouteData="routeData" DefaultLayout="typeof(MainLayout)">
                <NotAuthorized>
                    <main>
                        <div class="container not-authorized">
                            <h1>Du er ikke logget ind</h1>
                            <p>Log ind for at fortsætte.</p>
                            <p><button class="btn btn-primary btn-text" type="button" @onclick="SignIn">Log ind</button></p>
                            <p>Hvis du ikke har en bruger kan du oprette dig.</p>
                            <p><button class="btn btn-secondary btn-text" type="button" @onclick="SignUp">Opret bruger</button></p>
                        </div>
                    </main>
                </NotAuthorized>
                <Authorizing>
                    <main>
                        <Spinner />
                    </main>
                </Authorizing>
            </AuthorizeRouteView>
        </Found>
        <NotFound>
            <LayoutView Layout="typeof(MainLayout)">
                <main>
                    <div class="container">
                        <p>Der er intet at vise på denne side.</p>
                    </div>
                </main>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>

@code {

    private void SignIn()
    {
        ApplicationState.RedirectUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.NavigateTo("sign-in");
    }

    private void SignUp()
    {
        ApplicationState.RedirectUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.NavigateTo("sign-up");
    }

}
