@inherits MessageComponentBase<UserDeletedDto>
<!DOCTYPE html>
<html lang="da">
<head>
    <title>Din bruger er blevet slettet</title>
    <HeaderMetas/>
</head>
<body>
    <Greetings Model="Model"/>
    <p>Din bruger er blevet slettet.</p>
    <Regards Model="Model"/>
</body>
</html>