@model OrderModel
<p><a href="@Model.Url" />Din bestilling</a> • <a href="@($"{Model.FromUrl}/{Urls.MyTransactions}")" />Dit kontoudtog</a> • <a href="@($"{Model.FromUrl}/{Urls.MyAccount}")" />Din konto</a></p>