@page "/rengoeringsplan"
<PageTitle>Rengøringsplan - Frederikskaj 2 lokalereservation</PageTitle>
<main>
    @if (!isInitialized)
    {
        <Spinner/>
    }
    else if (cleaningTasks is null || reservedDays is null)
    {
        <Container>
            <Alert Color="Color.Danger" Visible="true">
                Der er i øjeblikket driftsproblemer. Prøv igen om lidt.
            </Alert>
        </Container>
    }
    else
    {
        <Container>
            <Alert Color="Color.Success" Visible="showSuccessAlert" Dismisable="true">
                Rengøringsplanen er blevet sendt til @email.
                <CloseButton Clicked="DismissSuccessAlert"/>
            </Alert>
            <Alert Color="Color.Danger" Visible="showErrorAlert" Dismisable="true">
                Der er sket en fejl, og rengøringsplanen blev ikke sendt.
                <CloseButton Clicked="DismissErrorAlert"/>
            </Alert>
            <h1>Rengøringsplan</h1>
            @if (cleaningTasks!.Any())
            {
                <Form>
                    <Paragraph>
                        <Button
                            Color="Color.Secondary"
                            Type="@ButtonType.Submit"
                            PreventDefaultOnSubmit="true"
                            Clicked="Send">
                            Send rengøringsplan som mail
                        </Button>
                    </Paragraph>
                    <Select Class="calendar-width" TValue="string" @bind-SelectedValue="currentDisplay">
                        <SelectItem Value="calendar">Vis som kalender</SelectItem>
                        <SelectItem Value="list">Vis som liste</SelectItem>
                    </Select>
                    @if (currentDisplay == calendar)
                    {
                        <div class="calendar-width">
                            <CleaningScheduleCalendar CleaningTasks="cleaningTasks" Resources="resources" ReservedDays="reservedDays"/>
                        </div>
                    }
                    else
                    {
                        <CleaningScheduleTable CleaningTasks="cleaningTasks" Resources="resources"/>
                    }
                </Form>
            }
            else
            {
                <Paragraph>Der er intet at vise.</Paragraph>
            }
        </Container>
    }
</main>
