@page "/bestil/overlap"
@attribute [Authorize]

<main>
    <Container>
        <Alert Color="Color.Danger" Visible="true">
            Din bestilling blev ikke gennemført da dine reservationer overlapper med eksisterende reservationer oprettet af andre brugere. De overlappende reservationer er fjernet fra din bestilling. Gå til <a href="@Urls.Calendar">kalenderen</a> for at finde ledige tidspunkter.
        </Alert>
    </Container>
</main>