@page "/bekraeft-mail"
@inject ApiClient ApiClient
@inject NavigationManager NavigationManager

<main>
    @if (!isInitialized)
    {
        <Spinner />
    }
    else
    {
        <Container>
            @if (showErrorAlert)
            {
                <Alert Color="Color.Danger" Visible="true">
                    Der er sket en fejl, og din mail blev ikke bekræftet.
                </Alert>
            }
            else
            {
                <Paragraph>Din mail er nu bekræftet.</Paragraph>
                <Paragraph>Gå til <a href="@Urls.Calendar">kalenderen</a> for at reservere et lokale.</Paragraph>
            }
        </Container>
    }
</main>

@code
{
    private bool isInitialized;
    private bool showErrorAlert;

    protected override async Task OnInitializedAsync()
    {
        var uri = NavigationManager.ToAbsoluteUri(NavigationManager.Uri);
        var query = QueryParser.GetQuery(NavigationManager.Uri);
        if (query.Contains("email") && query.Contains("token"))
        {
            var request = new ConfirmEmailRequest
            {
                Email = query["email"].FirstOrDefault(),
                Token = query["token"].FirstOrDefault()
            };
            var problem = await ApiClient.Post("user/confirm-email", request);
            if (problem != null)
                showErrorAlert = true;
        }
        else
        {
            showErrorAlert = true;
        }
        isInitialized = true;
    }
}