@page "/consent"

<main>
    <div class="container text">
        <p>For at du kan bruge dette system til lokalereservation som drives af <strong>Grundejerforeningen Frederikskaj 2</strong>, skal du give samtykke til at vi må behandle følgende personoplysninger:</p>
        <ul>
            <li>Din mail-adresse. Vi behandler denne oplysning for at give dig en unik identifikation i systemet og for at kunne kontakte dig når du reserverer lokaler.</li>
            <li>Dit fulde navn og din adresse. Vi behandler denne oplysning, så vi ved hvem du er og kan sikre os at du har ret til at benytte lokalerne.</li>
            <li>Dit telefonnummer. Vi behandler denne oplysning, så vi nemt kan kontakte dig i forbindelse med reservation af lokaler hvis der viser sig behov for dette.</li>
            <li>Dit bankkontonummer. Vi behandler denne oplysning, så vi kan tilbagebetale depositum.</li>
        </ul>
        <p>Du kan til enhver tid trække dit samtykke tilbage ved at slette din bruger i systemet.</p>
    </div>
</main>