@page "/"

<div class="main">
    <div class="text">
        <p>Frederikskaj 2 har et fælleshus som består af et aktivitets-/festlokale, samt to soveværelser med bad. Soveværelserne kan man leje til overnattende gæster. Det er <strong>kun</strong> beboere på Frederikskaj 2, som kan leje lokaler, og det er ikke tilladt at udleje værelser eller festlokale til tredjemand, eller leje lokalerne til »andres fest«.</p>
        <h1>Sådan reserverer du</h1>
        <ul>
            <li>Benyt kalenderen til at vælge lokale og tidspunkt</li>
            <li>Bekræft din reservation (du vil blive bedt om at logge ind med en eksisterende bruger eller oprette en ny bruger)</li>
            <li>Betal for din reservation som beskrevet i den mail du får tilsendt</li>
            <li>Når din betaling er godkendt får du en mail med en nøglebokskode du kan bruge til at få adgang til lokalerne.</li>
        </ul>
        <p>Dit depositum bliver udbetalt når din lejeperiode er færdig. Der kan gå op til to måneder før det sker.</p>
    </div>
</div>
