@page "/"

<main>
    <div class="container text">
        <p>Frederikskaj 2 har et fælleshus som består af et aktivitets-/festlokale, samt to soveværelser med bad. Soveværelserne kan man leje til overnattende gæster. Det er <strong>kun</strong> beboere på Frederikskaj 2, som kan leje lokaler, og det er ikke tilladt at udleje værelser eller aktivitets-/festlokale til tredjemand, eller leje lokalerne til »andres fest«.</p>
        <h1>Sådan reserverer du</h1>
        <ul>
            <li>Benyt kalenderen til at vælge lokale og tidspunkt</li>
            <li>Bekræft din reservation (du vil blive bedt om at logge ind med en eksisterende bruger eller oprette en ny bruger)</li>
            <li>Betal for din reservation som beskrevet i den mail du får tilsendt</li>
            <li>Når din betaling er godkendt får du en mail med en nøglebokskode du kan bruge til at få adgang til lokalet.</li>
        </ul>
        <p>Dit depositum bliver udbetalt når din lejeperiode er afsluttet. Der kan gå op til to måneder før det sker.</p>
        <h1>Priser</h1>
        <ul>
            <li>Soveværelse fra mandag-torsdag: kr.&nbsp;200 per nat plus kr. 200 for slutrengøring samt kr.&nbsp;500 i depositum.</li>
            <li>Soveværelse fra fredag-søndag og helligdage: kr.&nbsp;250 per nat plus kr.&nbsp;200 for slutrengøring samt kr.&nbsp;500 i depositum.</li>
            <li>Aktivitets-/festlokale fra mandag-torsdag: kr.&nbsp;500 per dag, plus kr.&nbsp;500 for slutrengøring samt kr.&nbsp;1.000 i depositum.</li>
            <li>Aktivitets-/festlokale fra fredag-søndag, helligdage og dagen før helligdage: kr.&nbsp;1.000 per dag plus kr.&nbsp;500 for slutrengøring samt kr.&nbsp;3.000 i depositum.</li>
        </ul>
        <h1>Regler</h1>
        <ul>
            <li><a href="@Urls.Terms">Lejebetingelser</a></li>
            <li><a href="@Urls.RulesBanquetFacilities">Husorden for aktivitets-/festlokale</a></li>
            <li><a href="@Urls.RulesBedrooms">Husorden for soveværelserne</a></li>
            <li><a href="@Urls.InventoryBanquetFacilities" target="_blank">Aktivitets-/fælleslokale inventarliste</a></li>
        </ul>
    </div>
</main>
