@page "/bestil-ejer/2"
@attribute [Authorize(Roles = Roles.OrderHandling)]

<main>
    <Container>
        <Paragraph>Din bestilling på vegne af grundejerforeninge er nu reserveret i kalenderen.</Paragraph>
    </Container>
</main>