@page "/vaerelser/sovevaerelser"

<main>
    <div class="container text">
        <h1>Soveværelserne</h1>
        <p>Soveværelser hedder Frederik og Kaj. Hvert værelse har separat indgang, tilhørende bad og toilet, og kan huse to personer. Dobbeltsengen er 160&nbsp;&times;&nbsp;200&nbsp;cm og er udstyret med puder og dyner, men man skal selv medbringe sengetøj, lagen, håndklæder og toiletpapir.</p>
        <Carousel BaseName="sovevaerelser" Count="4" Description="Soveværelser" />
    </div>
</main>