@page "/vaerelser/aktivitets-festlokale"

<main>
    <div class="container text">
        <h1>Aktivitets-/festlokalet</h1>
        <p>Aktivtets-/festlokalet består af et stort lokale med tilhørende mindre køkken. Indgangen til lokalet rummer en garderobe, og der er også et handicaptoilet med puslebord. Lokalet har udgang til bådebroerne.</p>
        <p>Lokalet er udstyret med 10 runde borde og 60 stole. Der er også fire højstole til babyer og tre høje cocktail-borde. Lokalet er endvidere udstyret med et musikanlæg </p>
        <p>Køkkenet rummer bestik og service (se <a href="@Urls.InventoryBanquetFacilities" target="_blank">inventarlisten</a> for detaljer).</p>
        <p>Lokalet er udstyret med et musikanlæg som betjenes via en lille mixer (Yamaha MG06 – hvortil der også kan tilsluttes guitar eller andet) samt to trådløse mikrofoner (bruger AA batteri). For tilslutning af musikafspiller, mobiltelefon eller laptop findes der et kabel med et mini-Jack stik. Desuden kan man parre sin telefon, eller andet, via Bluetooth.</p>
        <Frederikskaj2Carousel BaseName="aktivitets-festlokale" Count="11" Description="Aktivitets-/festlokale" />
    </div>
</main>