@page "/husorden/aktivitets-festlokalet"

<main>
    <div class="container text">
        <h1>Husorden for aktivitets-/festlokalet</h1>
        <p>Nærværende husorden skal betragtes som et tillæg til vores generelle husorden på Frederikskaj 2, og erstatter således ikke de øvrige retningslinjer, som allerede eksisterer. Reglerne SKAL gennemlæses og accepteres inden aktivitets/-festlokalet må tages i brug.</p>
        <p>Aktivitets/-festlokalet er ikke en udlejningsforretning og brugerne bør derfor også udvise hensyn i forbindelse med brugen, så vi alle får det optimale ud af det.</p>
        <p>Hvis det opleves at noget ikke fungerer, eller I er kommet til at ødelægge noget, skal I straks sende en mail til grundejerforeningen: ejerforeningenfrederikskaj2@gmail.com.</p>
        <h2>Generelle husregler</h2>
        <p>Som lejer af aktivitets/-festlokalet skal der altid udvises respekt for lokalet og dets omgivelser. Dette inkluderer også et rimeligt støjniveau, der ikke er til gene for andre beboere.</p>
        <ul>
            <li>Lokalet skal som minimum efterlades, som det blev modtaget. Dog kommer der slut-rengøring, som tager gulvvask (men LEJER SKAL FEJE GRUNDIGT) og rengøring af toiletter.</li>
            <li>Booking af lokalerne kan foretages af ejere/lejere på Frederikskaj 2, men kun til eget brug.</li>
            <li>Husdyr af enhver art må ikke opholde sig i aktivitets/-festlokalet.</li>
            <li>Aktivitets/-festlokalet er røgfrit. Der forefindes askebægere udenfor.</li>
            <li>Alle døre og vinduer skal være lukket ved afspilning af musik efter kl. 21:00 i hverdage og kl. 23:00 i weekenden.</li>
            <li>Ingen støjende adfærd udendørs efter kl. 21:00 i hverdagene og kl. 23:00 i weekenden.</li>
            <li>Lokalet er godkendt af brandmyndighederne til maksimalt 50 personer.</li>
        </ul>
        <h2>Ved ibrugtagning af aktivitets/-festlokalet</h2>
        <ul>
            <li>>Check-in er fra kl. 12:00.</li>
            <li>Radiatorer skrues evt. op, og/eller aircondition anlæg tændes.</li>
            <li>Bemærk at lyset i loftet kan dæmpes ved at holde kontakten inde.</li>
            <li>Medbring selv duge, håndklæder, viskestykker, opvaskemiddel, vasketabs, store plastsække og toiletpapir.</li>
        </ul>
        <h2>Inden aflevering af aktivitets/-festlokalet</h2>
        <ul>
            <li>Check-out er senest kl. 10:00.</li>
            <li>Alt service skal være rengjort og sat på plads, og køkkenområdet være rent og ryddeligt.</li>
            <li>Køleskab tømmes og tørres af ind-/udvendigt, og efterlades tændt.</li>
            <li>Skraldespanden skal være tømt og ny pose sat i.</li>
            <li>Borde og stole tørres af og sættes på plads. Stole i stabler med 10 stole i hver, langs væggen.</li>
            <li>Alle gulve fejes, således at slut-rengøring kan gå direkte i gang med gulvvask.</li>
            <li>Lamelgardiner trækkes fra, og hvis vinduer er voldsomt fedtede (børnefingre eller lign.) pudses disse let.</li>
            <li>Hvis musikanlægget er brugt, tjekkes at alt er slukket. (ovenpå mixer, ”disko-kugle” på markeret kontakt i skab, og begge mikrofoner).</li>
            <li>Alt affald og evt. cigaretskodder fjernes fra udendørsarealer. (udendørs askebægere bliver tømt af slut-rengøringen).</li>
            <li>Alt pap, flasker, og generel affald skal bortskaffes.</li>
            <li>Alle radiatorer sættes på 1,5 (for at forhindre fugtskader), og aircondition-anlæg slukkes.</li>
            <li>Huset aflåses og nøglen lægges tilbage i nøgleboksen.</li>
        </ul>
        <h2>Rengøring</h2>
        <p>Efter endt brug foretager lejer obligatorisk oprydning i henhold til afsnittet ”Inden aflevering af aktivitets/-festlokalet”. Slutrengøring foretages af et professionelt firma. Såfremt selskabet skal bruge ekstraordinært megen tid på rengøring vil en eventuel ekstraudgift blive pålagt lejer af aktivitets/-festlokalet.</p>
        <h2>Musik/støj</h2>
        <p>Aktivitets/-festlokalet er udstyret med et musikanlæg som betjenes via en lille mixer (Yamaha MG06 – hvortil der også kan tilsluttes guitar eller andet) samt to trådløse mikrofoner (husk at de bruger AA batteri). For tilslutning af musikafspiller, mobiltelefon eller laptop findes der et kabel med et mini-Jack stik. Desuden kan man parre sin telefon, eller andet, via Bluetooth. Instruktioner kan findes i skabet med musik-tingene.</p>
        <p>Alle døre og vinduer skal være lukket ved afspilning af musik efter kl. 21:00 i hverdage og kl. 23:00 i weekenden. Afspilningen af musik skal foregå så den ikke er til gene for andre beboere og eventuelle henstillinger om at reducere volumen skal omgående respekteres. Støjende adfærd på de omkringliggende arealer må heller ikke finde sted. Fra kl. 04:00 skal der være fuldstændig ro i aktivitets/-festlokalet.</p>
        <h2>Service/køkken</h2>
        <p>Der forefindes en inventarliste i et skab i køkkenet.</p>
        <p>Lejer skal sørge for opvask af brugt service, og for at alt er lagt tilbage på plads. Det er ikke tilladt at fjerne (midlertidigt eller permanent) effekter fra aktivitets/-festlokalet.</p>
        <h2>Borde/stole</h2>
        <p>Det er tilladt at tage stole og borde udenfor. Regn- eller andre skader er lejers ansvar.</p>
        <h2>Loftslys</h2>
        <p>Der er lysdæmpere på loftslyset. Bare hold kontakterne til loftslyset inde.</p>
        <h2>Skader</h2>
        <p>Lejeren har pligt til straks at informere grundejerforeningen (ejerforeningenfrederikskaj2@gmail.com), såfremt noget går i stykker eller bortkommer, da den næste lejer/beboer ellers vil mangle det. Alle udgifter i forbindelse med skader pålægges lejer af aktivitets/-festlokalet.</p>
        <h2>Misligholdelse</h2>
        <ul>
            <li>Der foretages optælling af al service, og ved mangler, pålægges udgiften lejer af aktivitets/-festlokalet.</li>
            <li>Hvis nøglen ikke leveres rettidigt eller er bortkommet, pålægges der lejeren et gebyr på 500,-.</li>
            <li>Ved misligholdelse af check-in og check-ud tider pålægges lejeren et gebyr og evt. karantæne for fremtidig leje aktivitets/-festlokalet og værelser.</li>
            <li>Lejer forestår samtlige udgifter i forbindelse med reparationer og nyanskaffelser.</li>
        </ul>
        <p>Hvis en bruger af aktivitets/-festlokalet ikke respekterer ovenstående husorden, kan bestyrelsen udelukke beboeren for fremtidig brug. En evt. karantæne eller udelukkelse erstatter ikke bestyrelsens evt. tilgodehavende fra beboeren. Dertil kan modregning i depositum komme på tale.</p>
        <p><i>/Bestyrelsen, november 2017</i></p>
    </div>
</main>
