@page "/sign-up"
@inject ApplicationState ApplicationState
@inject HttpClient HttpClient

<div class="main">
    <EditForm Model="request" OnValidSubmit="Submit">
        <div class="form-row">
            <div class="form-group col-sm-2">
                <label>Mail:</label>
                <InputText class="form-control" type="email" @bind-Value="request.Email" />
                <small class="form-text text-muted"><ValidationMessage For="@(() => request.Email)" /></small>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-sm-2">
                <label>Fulde navn:</label>
                <InputText class="form-control" @bind-Value="request.FullName" />
                <small class="form-text text-muted"><ValidationMessage For="@(() => request.FullName)" /></small>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-sm-2">
                <label>Adgangskode:</label>
                <InputText class="form-control" type="password" @bind-Value="request.Password" />
                <small class="form-text text-muted"><ValidationMessage For="@(() => request.Password)" /></small>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-sm-2">
                <label>Gentag adgangskode:</label>
                <InputText class="form-control" type="password" @bind-Value="request.RepeatedPassword" />
                <small class="form-text text-muted"><ValidationMessage For="@(() => request.RepeatedPassword)" /></small>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-sm-2">
                <InputCheckbox @bind-Value="request.IsPersistent" />
                <label class="form-check-label">Husk mig</label>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">
            Opret bruger
        </button>
        <DataAnnotationsValidator />
    </EditForm>
</div>

@code {

    private readonly SignUpRequest request = new SignUpRequest();

    private async Task Submit()
    {
        request.RedirectUri = ApplicationState.RedirectUrl;
        await HttpClient.PostJsonAsync("user/sign-up", request);
    }

}
