@page  "/brugere/{userId:int}/kontoudtog"
<PageTitle>@(transactions is not null ? $"Kontoudtog {transactions.FullName} - " : "")Frederikskaj 2 lokalereservation</PageTitle>
<main>
    @if (!isInitialized)
    {
        <Spinner />
    }
    else if (transactions is null)
    {
        <Container>
            <Alert Color="Color.Danger" Visible="true">
                Der er i øjeblikket driftsproblemer. Prøv igen om lidt.
            </Alert>
        </Container>
    }
    else
    {
        <Container>
            <h1>Kontoudtog</h1>
            <Paragraph><a href="@Urls.Users/@transactions.UserId">@transactions.FullName</a></Paragraph>
            <UserTransactions Transactions="transactions.Transactions" SelectedTransactionId="selectedTransactionId" />
        </Container>
    }
</main>
