@page "/brugere"
<PageTitle>Brugere - Frederikskaj 2 lokalereservation</PageTitle>
<main>
    @if (!isInitialized)
    {
        <Spinner />
    }
    else if (residents!.Count + superUsers!.Count + other!.Count is 0)
    {
        <Container>
            <Alert Color="Color.Danger" Visible="true">
                Der er i øjeblikket driftsproblemer. Prøv igen om lidt.
            </Alert>
        </Container>
    }
    else
    {
        <Container>
            <h1>Brugere</h1>
            @if (residents.Count > 0)
            {
                <h2>Beboere</h2>
                <UsersList Users="@residents" />
            }
            @if (superUsers.Count > 0)
            {
                <h2>Superbrugere</h2>
                <UsersList Users="@superUsers" />
            }
            @if (other.Count > 0)
            {
                <h2>Øvrige</h2>
                <UsersList Users="@other" />
            }
        </Container>
    }
</main>
