@page "/bruger"
@attribute [Authorize]
@inject ApiClient ApiClient

<main>
    @if (!isInitialized)
    {
        <Spinner />
    }
    else
    {
        <Container>
            <Alert Color="Color.Danger" Visible="@showErrorAlert" Dismisable="true">
                Der er sket en fejl.
                <CloseButton Clicked="@DismissErrorAlert" />
            </Alert>
            @if (user != null)
            {
                <UserEmail User="user" />
                <UserUpdatePassword />
            }
        </Container>
    }
</main>

@code {

    private bool isInitialized;
    private User? user;
    private bool showErrorAlert;

    protected override async Task OnInitializedAsync()
    {
        var maybe = await ApiClient.GetJsonAsync<UserResponse>("user");
        if (maybe.TryGetValue(out var response) && response.User != null)
            user = response.User;
        else
            showErrorAlert = true;
        isInitialized = true;
    }

    private void DismissErrorAlert() => showErrorAlert = false;
}
