@page "/husorden/sovevaerelser"
<PageTitle>Husorden soveværelser - Frederikskaj 2 lokalereservation</PageTitle>
<main>
    <Container Class="text">
        <h1>Husorden for soveværelserne</h1>
        <p>Hvis det opleves at noget ikke fungerer, eller I er kommet til at ødelægge noget, skal I straks melde det til grundejerforeningen: <a href="mailto:ejerforeningen@frederikskaj2.dk">ejerforeningen@frederikskaj2.dk</a>.</p>
        <p>Reglerne SKAL gennemlæses og accepteres inden værelserne tages i brug.</p>
        <h2>Generelle husregler</h2>
        <p>Som lejer af værelserne skal der altid udvises respekt for lokalet og dets omgivelser. Dette inkluderer også et rimeligt støjniveau, der ikke er til gene for de andre beboere.</p>
        <ul>
            <li>Værelser (inkl. badeværelser) skal efterlades pæne og ryddelige.</li>
            <li>Booking af værelserne kan foretages af ejere/lejere på Frederikskaj 2, og er kun til familie og venner.</li>
            <li>Husdyr af enhver art må ikke opholde sig i værelserne.</li>
            <li>Værelserne er røgfri. Der forefindes askebægere udenfor.</li>
            <li>Der er plads til maksimalt 2 personer pr. værelse. Det skal bemærkes, at der kun er en dobbeltseng (160&nbsp;&times;&nbsp;200&nbsp;cm).</li>
        </ul>
        <h2>Ved ibrugtagning af et værelse</h2>
        <ul>
            <li>Check-in fra kl. 12:00.</li>
            <li>Radiatorer skrues evt. op.</li>
            <li>Medbring selv sengetøj, lagen, håndklæder og toiletpapir.</li>
        </ul>
        <h2>Inden aflevering af værelset</h2>
        <ul>
            <li>Check-out er senest kl. 10:00.</li>
            <li>Alt affald skal fjernes fra værelset.</li>
            <li>Dyner og puder arrangeres pænt på sengen.</li>
            <li>Radiatoren sættes på 1,5 (for at forhindre fugtskader).</li>
            <li>Lys og ventilator slukkes.</li>
            <li>Værelset aflåses og nøglen lægges tilbage i nøgleboksen.</li>
        </ul>
        <h2>Musik/støj</h2>
        <p>Da værelset ligger op imod festlokalet må der påregnes støj, såfremt lokalet er i brug til fest.</p>
        <h2>Skader</h2>
        <p>Lejeren har pligt til straks at informere grundejerforeningen (<a href="mailto:ejerforeningen@frederikskaj2.dk">ejerforeningen@frederikskaj2.dk</a>), såfremt noget går i stykker eller bortkommer, da den næste lejer/beboer ellers vil mangle det.</p>
        <h2>Misligholdelse:</h2>
        <ul>
            <li>Hvis nøglen ikke leveres rettidigt eller er bortkommet, pålægges der lejeren et gebyr på 500,-.</li>
            <li>Ved misligholdelse af check-in og check-ud tider pålægges lejeren et gebyr og evt. karantæne for fremtidig leje af festlokale og soveværelser.</li>
            <li>Lejer forestår samtlige udgifter i forbindelse med reparationer og nyanskaffelser.</li>
        </ul>
        <p>Hvis en bruger af fælleshuset ikke respekterer ovenstående husorden, kan bestyrelsen udelukke beboeren for fremtidig brug. En evt. karantæne eller udelukkelse erstatter ikke bestyrelsens evt. tilgodehavende fra beboeren. Dertil kan modregning i depositum komme på tale.</p>
        <p><it>/Bestyrelsen, november 2018, opdateret med sproglige ændringer oktober 2022</it></p>
    </Container>
</main>
