@page "/lejebetingelser"
<PageTitle>Lejebetingelser - Frederikskaj 2 lokalereservation</PageTitle>
<main>
    <Container Class="text">
        <h1>Lejebetingelser</h1>
        <h2>Generelt</h2>
        <p>Det er beboere på Frederikskaj 2, som kan leje lokaler, og det er ikke tilladt at udleje soveværelser eller festlokale til tredjemand, eller leje lokalerne til »andres fest«. Fælleshuset må heller ikke bruges til kommercielle formål.</p>
        <p>Indenfor er fælleshuset strengt røgfrit område. (Der forefindes askebægere udenfor.)</p>
        <h2>Frister</h2>
        <p>Fælleshuset kan reserveres op til ni måneder ud i fremtiden, og kan senest reserveres fem dage før du skal bruge det. De to soveværelser og festlokalet kan lejes individuelt for maksimalt syv sammenhængende dage ad gangen.</p>
        <p>Reservationer af både soveværelser og festlokale kan afbestilles senest 5&nbsp;dage før reservationens start. I så tilfælde får man pengene retur, minus kr.&nbsp;200 i afbestillingsgebyr per afbestilling. Senere afbestillinger kan ikke accepteres og fuld pris betales (men fuldt depositum refunderes hvis faciliteterne ikke bliver brugt).</p>
        <h2>Skader</h2>
        <p>Alle skader er for beboeren egen regning. Fælleshuset er ikke forsikret for brugernes skader. Hvis depositummet ikke er nok til at dække en skade, så vil balancen blive opkrævet hos lejeren af festlokalet uagtet at skaden blev påført af kendt eller ukendt gæst af beboeren.</p>
        <h2>Festlokale</h2>
        <p>Lokalet skal efterlades med rengjort køkken, borde/stole ryddet væk, og fejede gulve, således at slutrengøringen kan komme til. Slutrengøringen vasker gulve og gør toiletterne rene.</p>
        <p>Hvis ikke lokalerne efterlades i en tilstand som tillader slutrengøring, så bliver der bestilt yderligere betalt rengøring på beboerens regning — og bestyrelsen vil så vurdere, om det fremadrettet skal være muligt for den beboer at reservere lokalerne.</p>
        <h2>Soveværelser</h2>
        <p>Værelset skal efterlades ryddeligt, med dyner og puder arrangeret pænt på sengen, og alt affald fjernet fra både værelse og badeværelse således at slutrengøringen let kan komme til.</p>
        <p>Hvis ikke værelset efterlades i en tilstand som tillader slutrengøring, så bliver der bestilt yderligere betal rengøring på beboerens regning — og bestyrelsen vil så vurdere, om det fremadrettet skal være muligt for beboeren at reservere lokalerne.</p>
        <p>Værelserne er beliggende op ad festlokalet med en branddør imellem. Hvis festlokalet er lejet ud, så der forventes støj, også til sent på natten.</p>
        <h2>Ændring</h2>
        <p>Bestyrelsen forbeholder sig ret til at justere og ændre i reglerne med tilbagevirkende kraft, samt justere priser og antal gange de enkelte beboere må leje fælleshuset per år.</p>
    </Container>
</main>
