.field-text {
    padding-top: 0.375rem;
    padding-bottom: 0.375rem;
}

::deep i {
    margin-right: 0.5rem;
}

::deep .name-column {
    width: 60%;
}

::deep .amount-column {
    width: 10%;
}

::deep .age-or-status-column {
    width: 20%;
}

::deep .button-column {
    width: 10%;
}
