@using ValidationRule = Frederikskaj2.Reservations.Core.ValidationRule
<Modal @ref="modal" Closed="OnModalClosed">
    <Form>
        <ModalContent>
            <ModalHeader>
                <ModalTitle>Skift kontonummer på udbetaling</ModalTitle>
                <CloseButton Clicked="Cancel"/>
            </ModalHeader>
            <ModalBody>
                <Field Horizontal="true">
                    <FieldLabel ColumnSize="ColumnSize.Is6">Nuværende kontonummer</FieldLabel>
                    <FieldBody ColumnSize="ColumnSize.Is6">
                        <TextEdit ReadOnly Text="@originalAccountNumber"/>
                    </FieldBody>
                </Field>
                <Field Horizontal="true">
                    <FieldLabel ColumnSize="ColumnSize.Is6">Nyt kontonummer</FieldLabel>
                    <FieldBody ColumnSize="ColumnSize.Is6">
                        <TextEdit Autofocus @bind-Text="newAccountNumber"/>
                    </FieldBody>
                </Field>
            </ModalBody>
            <ModalFooter>
                <Button
                    Color="Color.Primary"
                    Type="@ButtonType.Submit"
                    PreventDefaultOnSubmit="true"
                    Clicked="Confirm"
                    Disabled="@(!ValidationRule.AccountNumberRegex.IsMatch(newAccountNumber?.Trim() ?? ""))">
                    Skift kontonummer
                </Button>
                <Button Color="Color.Secondary" Clicked="Cancel">Fortryd</Button>
            </ModalFooter>
        </ModalContent>
    </Form>
</Modal>
