@font-face {
    font-family: 'Akrobat';
    src: url('../fonts/Akrobat-Regular.eot');
    src: url('../fonts/Akrobat-Regular.woff2') format('woff2'), url('../fonts/Akrobat-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Akrobat';
    src: url('../fonts/Akrobat-ExtraBold.eot');
    src: url('../fonts/Akrobat-ExtraBold.woff2') format('woff2'), url('../fonts/Akrobat-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

html {
    font-size: 18px;
}

p, ol, ul {
    margin-bottom: 0.5rem;
}

table.b-table.table {
    --bs-table-bg: transparent !important;
}

.table-fixed-header table.b-table.table {
    --bs-table-bg: white !important;
}

.fas {
    min-width: 20px;
}

.spinner {
    margin: 100px auto 0;
    width: 70px;
    text-align: center;
}

.spinner > div {
    width: 18px;
    height: 18px;
    background-color: #333;
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0)
    }

    40% {
        -webkit-transform: scale(1.0)
    }
}

@keyframes sk-bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    40% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

:active:focus {
    outline: none;
}

.dropdown-item {
    cursor: pointer;
}

.dropdown-toggle::after {
    margin-left: 0;
}

html, body, .contents, main {
    height: 100%;
}

body {
    font-family: 'Akrobat', sans-serif;
    overflow: hidden;
}

body.modal-open {
    padding-right: 0 !important;
}

.contents {
    display: flex;
    justify-content: space-between;
    padding-right: 0;
    padding-top: 5rem;
    position: fixed;
    width: 100%;
    overflow-y: hidden;
}

main {
    width: 100%;
    overflow-y: auto;
}

h1 {
    font-size: 1.5rem;
    font-weight: bold;
}

h2 {
    font-size: 1.2rem;
    font-weight: bold;
}

.form-control:disabled, .form-control:read-only {
    color: #495057;
}

.card {
    margin-bottom: 1rem;
}

.not-authorized {
    margin: 2rem;
}

.text {
    margin: 2rem;
    line-height: 2;
}

.container {
    margin: 2rem 15px;
}

.container-min-md {
    min-width: 720px;
}

.container-min-lg {
    min-width: 960px;
}

.container-max-sm {
    max-width: 540px;
}

.container-max-md {
    max-width: 720px;
}

.container-max-lg {
    max-width: 960px;
}

.front-page-image {
    float: right;
    width: 25%;
    margin-left: 1rem;
    margin-bottom: 1rem;
}

.front-page-image > img {
    width: 100%;
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }

    45% {
        opacity: 1;
    }

    55% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

.carousel {
    width: 100%;
    height: 900px;
    display: grid;
    grid-template-columns: 0 auto 0;
    align-items: center;
}

.carousel img {
    grid-row: 1;
    grid-column: 2;
    justify-self: center;
    max-height: 900px;
    max-width: 100%;
    transition: opacity 1s ease-in-out;
    opacity: 0;
}

.carousel img.opaque {
    opacity: 1;
}

.carousel .left {
    grid-row: 1;
    grid-column: 1;
}

.carousel .right {
    grid-row: 1;
    grid-column: 3;
    transform: translateX(-5rem);
}

.carousel .navigate {
    z-index: 100;
    width: 5rem;
    height: 5rem;
    font-size: 300%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
}

.carousel .navigate:focus {
    outline: none;
    color: hsl(210, 100%, 35%);
}

.button-row {
    display: flex;
    justify-content: flex-end;
    align-items: end;
}

.button-row > :not(:first-child) {
    margin-left: .25rem;
}

.button-row > :not(:last-child) {
    margin-right: 0.25rem;
}

.btn-fixed {
    min-width: 7.5rem;
}

a {
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }

    &:hover.dropdown-item {
        text-decoration: none;
    }
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

.payment-id {
    color: gray;
}

/* ReconciliationRow CSS moved to global CSS to avoid having to wrap a
   <TableRow> component in a <div> which is required for CSS isolation. */

tr.ignored td {
    color: #AAA;
}

tr.ignored td .negative {
    color: #FAA;
}
