:active:focus {
    outline: none;
}

html, body, main {
    height: 100%;
}

body {
    font-family: 'Roboto';
    padding-top: 5rem;
}

.top-bar {
    align-items: stretch;
    background-color: hsl(210, 100%, 35%);
    background-image: linear-gradient(rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.25) 25%, rgba(0, 0, 0, 0) 70%);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
    color: white;
    display: flex;
    height: 5rem;
    left: 0;
    padding: 0 2rem;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1030;
}

.logo {
    align-items: center;
    color: white;
    display: inline-block;
    display: flex;
    flex-direction: column;
    font-size: 1.25rem;
    justify-content: center;
    margin: 0;
    padding: 0.3rem 1.8rem;
    position: relative;
}

.nav-tab {
    align-items: center;
    background-color: rgba(0, 0, 0, 0.1);
    color: white;
    display: inline-block;
    display: flex;
    flex-direction: column;
    font-size: 0.9rem;
    justify-content: center;
    margin: 0;
    padding: 0.3rem 1.8rem;
    position: relative;
    text-transform: uppercase;
    transition: 0.2s ease-out;
}

    .nav-tab:hover {
        background-color: rgba(255, 255, 255, 0.3);
        color: white;
        text-decoration: none;
    }

    .nav-tab.active {
        background-color: rgba(255, 255, 255, 0.2);
        color: #fff2cc;
    }

    .nav-tab img {
        height: 2rem;
        margin-bottom: 0.25rem;
    }

    .nav-tab.active img {
        filter: brightness(0) saturate(100%) invert(93%) sepia(18%) saturate(797%) hue-rotate(316deg) brightness(109%) contrast(101%);
    }

    .nav-tab.active:after {
        border-left: 0.6rem solid transparent;
        border-right: 0.6rem solid transparent;
        border-top: 1rem solid rgb(51, 51, 205);
        bottom: -1rem;
        content: "";
        height: 0px;
        position: absolute;
        width: 0px;
        z-index: 1;
    }

.user-info {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: auto;
}

    .user-info img {
        margin-right: 0.7rem;
        width: 2.6rem;
    }

    .user-info .username {
        display: block;
        font-weight: 700;
        line-height: 0.7rem;
        margin-top: 0.5rem;
    }

    .user-info a {
        color: #fff2cc;
        font-size: 0.8rem;
    }

.container-with-sidebar {
    display: flex;
    justify-content: space-between;
    padding-right: 0;
    min-height: 100%;
}

.sidebar {
    background-color: #333;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30rem;
}

div.text {
    font-family: 'Roboto Slab';
    margin: 2rem;
}

    div.text > * {
        line-height: 2;
    }

    div.text > h1 {
        font-family: 'Roboto';
        font-size: 1.44rem;
        font-weight: bold;
    }

.reservations {
    padding: 1.5rem;
}

    .reservations .reservations-get-started {
        font-size: 2rem;
        text-align: center;
    }

    .reservations h1 {
        font-size: 1.44rem;
    }

    .reservations .card {
        background-color: #444;
    }

        .reservations .card .card-title {
            font-size: 1rem;
            font-weight: bold;
            color: hsl(210, 100%, 65%)
        }

.reservations-total {
    background-color: hsl(210, 100%, 35%);
}

a.sign-in {
    background: none;
    border: 1.5px solid white;
    border-radius: 0.7em;
    color: white;
    cursor: pointer;
    font-weight: 100;
    padding: 0.2rem 0.8rem 0.1rem 0.8rem;
    text-transform: uppercase;
    transition: 0.2s ease-out;
}

    a.sign-in:hover {
        background-color: rgba(255, 255, 255, 0.3);
        border-color: #fff2cc;
        color: #fff2cc;
    }

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

.calendar-container {
    margin: 2rem;
}

    .calendar-container .legend-container {
        margin-top: 2rem;
        display: flex;
        align-items: center;
    }

    .calendar-container .legend-icon {
        float: left;
        width: 1.2rem;
        height: 1.2rem;
        margin: 0.5rem;
        border: 1px solid rgba(0, 0, 0, .2);
    }

    .calendar-container .legend-text {
        margin-right: 2rem;
    }

    .calendar-container .legend-selected-resource {
        font-weight: bold;
    }

    .calendar-container .resource-1 {
        background-color: hsl(210, 100%, 50%);
        background-image: radial-gradient(rgba(255,255,255,.5) 1px, transparent 25%), radial-gradient(rgba(255,255,255,.5) 1px, transparent 25%);
        background-size: 0.6rem 0.6rem, 0.6rem 0.6rem;
        background-position: 0.5rem 0.3rem, 0.8rem 0.6rem;
        background-repeat: repeat-x, repeat;
    }

    .calendar-container .resource-2 {
        background-color: hsl(210, 100%, 50%);
        background-image: repeating-linear-gradient(-45deg, transparent, transparent 15%, rgba(255,255,255,.5) 25%, transparent 35%, transparent 50%);
        background-size: 0.6rem 0.6rem;
    }

    .calendar-container .resource-3 {
        background-color: hsl(210, 100%, 50%);
        background-image: repeating-linear-gradient(45deg, transparent, transparent 15%, rgba(255,255,255,.5) 25%, transparent 35%, transparent 50%);
        background-size: 0.6rem 0.6rem;
    }

.calendar {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(7, 6rem);
    grid-template-rows: auto;
    grid-auto-rows: 6rem;
    border-top: 1px solid rgba(0, 0, 0, .2);
    border-left: 1px solid rgba(0, 0, 0, .2);
}

    .calendar > div {
        background-color: hsl(120, 50%, 90%);
        border-bottom: 1px solid rgba(0, 0, 0, .2);
        border-right: 1px solid rgba(0, 0, 0, .2);
    }

    .calendar .calendar-day-of-week-1 {
        grid-column: 1;
    }

    .calendar .calendar-day-of-week-2 {
        grid-column: 2;
    }

    .calendar .calendar-day-of-week-3 {
        grid-column: 3;
    }

    .calendar .calendar-day-of-week-4 {
        grid-column: 4;
    }

    .calendar .calendar-day-of-week-5 {
        grid-column: 5;
    }

    .calendar .calendar-day-of-week-6 {
        grid-column: 6;
    }

    .calendar .calendar-day-of-week-7 {
        grid-column: 7;
    }

    .calendar .calendar-header {
        background-color: transparent;
        font-weight: bold;
        padding: 0.75rem;
    }

    .calendar .calendar-high-price {
        background-color: hsl(120, 50%, 80%);
    }

    .calendar .resource-available {
        cursor: pointer;
    }

    .calendar .resource-unavailable {
        pointer-events: none;
    }

    .calendar .calendar-today {
        background-color: hsl(60, 50%, 90%);
    }

    .calendar .calendar-other-month {
        background-color: #CCC;
    }

    .calendar .calendar-day {
        margin: 0.1rem;
        font-size: 0.67rem;
        height: 1rem;
    }

    .calendar .resource-available .calendar-day {
        font-weight: bold;
        color: hsl(20, 80%, 50%);
    }

    .calendar .resource-unavailable .calendar-day {
        color: #AAA;
    }

    .calendar .resource {
        width: 4.8rem;
        height: 1.2rem;
        margin: 0.1rem 0.6rem;
    }

    .calendar .resource-extend-left {
        width: 5.4rem;
        margin-left: 0;
        padding-left: 0.6rem;
    }

    .calendar .resource-extend-right {
        width: 5.4rem;
        margin-right: 0;
        padding-right: 0.6rem;
    }

    .calendar .resource-extend-left.resource-extend-right {
        width: 6rem;
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
        padding-right: 0;
    }

    .calendar .resource-not-current {
        opacity: 0.33;
    }
