@using ValidationRule = Frederikskaj2.Reservations.Core.ValidationRule
<div>
    <Field>
        <FieldLabel>Kontonummer (til udbetaling af depositum)</FieldLabel>
        <FieldBody>
            <Validation Validator="Validator.ValidateAccountNumber">
                <TextEdit
                    InputMode="TextInputMode.Tel"
                    Text="@Value"
                    TextChanged="ValueChanged"
                    Disabled="Disabled"
                    MaxLength="ValidationRule.MaximumAccountNumberLength"
                    placeholder="1111-2222333344">
                    <Feedback>
                        <ValidationError/>
                    </Feedback>
                </TextEdit>
            </Validation>
        </FieldBody>
    </Field>
</div>
