@page "/ejer/bestil/2"
@attribute [Authorize(Roles = nameof(Roles.OrderHandling))]
<PageTitle>Ejerbestilling modtaget - Frederikskaj 2 lokalereservation</PageTitle>
<main>
    <Container>
        <Paragraph>Din bestilling på vegne af grundejerforeningen er nu reserveret i kalenderen.</Paragraph>
    </Container>
</main>
