@model EmailWithUrlModel
@inject IOptions<DataProtectionTokenProviderOptions> DataProtectionTokenProviderOptions
@{
    var validDays = (int) DataProtectionTokenProviderOptions.Value.TokenLifespan.TotalDays;
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "https://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="https://www.w3.org/1999/xhtml">
<head>
    <title>Bekræft mail</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0 " />
</head>
<body>
    <p>Hej @Model.Name</p>
    <p><a href="@Model.Url">Åbn linket for at oprette en ny adgangskode.</a></p>
    <p>Dette link er gyldigt i @validDays dag@(validDays == 1 ? string.Empty : "e").</p>
    <p><strong>Hvis du ikke selv har anmodet om en ny adgangskode skal du ikke foretage dig noget.</strong></p>
    @await Html.PartialAsync("_Signature", Model)
</body>