@inherits LayoutComponentBase

<nav>
    <div class="logo">Frederikskaj&nbsp;2</div>
    <NavLink href="" class="nav-tab" Match="NavLinkMatch.All">
        <div>Fælleshus</div>
    </NavLink>
    <NavLink href="@Urls.Calendar" class="nav-tab">
        <div>Kalender</div>
    </NavLink>
    <NavLink href="@Urls.Orders" class="nav-tab">
        <div>Mine bestillinger</div>
    </NavLink>
    <User />
</nav>
<div class="contents">
    @Body
</div>
