::deep .no-margins {
    padding-left: 0;
    padding-right: 0;
}

::deep .order-table-resource-column {
    min-width: 0;
}

::deep .order-table-time-column {
    min-width: 5rem;
}

@media (min-width: 768px) {
    ::deep .order-table-resource-column {
        min-width: 10rem;
    }

    ::deep .order-table-time-column {
        min-width: 7rem;
    }
}

::deep .reservation-cancelled {
    text-decoration: line-through;
    color: #AAA;
}
