@inject HttpClient HttpClient
@inject IAuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager

<div class="user-info">
    <AuthorizeView>
        <Authorizing>
            <text>Vent...</text>
        </Authorizing>
        <Authorized>
            <img src="img/user.svg" />
            <div>
                <span class="username">@context.User.Identity.Name</span>
                <a class="sign-out" @onclick="SignOut" href="#">Log ud</a>
            </div>
        </Authorized>
        <NotAuthorized>
            <a class="sign-in" href="sign-in">Log ind</a>
        </NotAuthorized>
    </AuthorizeView>
</div>

@code {

    private async Task SignOut()
    {
        await HttpClient.PostAsync("user/sign-out", null);
        AuthenticationStateProvider.UpdateUser(new UserInfo());
        NavigationManager.NavigateTo("/");
    }

}
