.user {
    padding: 0 1rem 0 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.1);
}

.user > div {
    line-height: 1.2rem;
}

.user .name {
    color: white;
    font-weight: 700;
}

.user .sign-out {
    color: #fff2cc;
    font-size: 0.8rem;
}

#user-icon {
    width: 3rem;
    margin: 0 0.5rem;
    stroke: white;
}

a.sign-in {
    background: none;
    border: 1.5px solid white;
    border-radius: 0.7em;
    color: white;
    cursor: pointer;
    font-weight: 100;
    padding: 0.2rem 0.8rem 0.1rem 0.8rem;
    text-transform: uppercase;
    transition: 0.2s ease-out;
    align-self: center;

    &:hover {
        background-color: rgba(255, 255, 255, 0.3);
        border-color: #fff2cc;
        color: #fff2cc;
    }
}
