@if (GeneralError)
{
    @:Der er sket en fejl.
}
else if (WrongPassword)
{
    @:Den nuværende adgangskode er forkert.
}
else if (TooShortPassword)
{
    @:Din adgangskode skal bestå af mindst fem tegn.
}
else if (ExposedPassword)
{
    @:Din adgangskode er velkendt. Tjek selv på <a href="https://haveibeenpwned.com/Passwords">Have I Been Pwned</a>.
}
else if (EmailSameAsPassword)
{
    @:Din adgangskode er den samme som din mail.
}
