@if (GeneralError)
{
    <text>Der er sket en fejl.</text>
}
else if (WrongPassword)
{
    <text>Den nuværende adgangskode er forkert.</text>
}
else if (TooShortPassword)
{
    <text>Din adgangskode skal bestå af mindst fem tegn.</text>
}
else if (ExposedPassword)
{
    <text>Din adgangskode er velkendt. Tjek selv på <a href="https://haveibeenpwned.com/Passwords">Have I Been Pwned</a>.</text>
}
else if (EmailSameAsPassword)
{
    <text>Din adgangskode er den samme som din mail.</text>
}
