<div class="container not-authorized">
    <h1>Du er ikke logget ind</h1>
    <p>Log ind for at fortsætte.</p>
    <p><Button Color="Color.Primary" Class="btn-fixed" Clicked="SignIn">Log ind</Button></p>
    <p>Hvis du ikke har en bruger kan du oprette dig.</p>
    <p><Button Color="Color.Secondary" Class="btn-fixed" Clicked="SignUp">Opret bruger</Button></p>
</div>
