<div class="prices">
    <div class="prices-header">Leje</div>
    <div class="prices-header">Depositum</div>
    <div class="prices-header">Til betaling</div>
    <div>@GetRentAndCleaning()</div>
    <div>@GetDeposit()</div>
    <div>@GetTotal()</div>
</div>
